body{
    /* background-color: #737373; */
    background-color: #dbe8e9;
}

main{
    max-width: 100%;
}

h1{
    /* font-size: 100px; */
    font-family: Arial;
    text-align: center;
}

h2{
    color: black;
    /* font-size: 50px; */
    font-family: Arial;
}

h3{
    color: rgb(1, 106, 1);
    /* font-size: 50px; */
    font-family: Arial;
}

p {
    /* line-height: 1.5; */
}

img{
    /* border: 5px solid #FF5733; */
    padding: 10px;
    margin: 20px;
    /* border-top-right-radius: 30px; */
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #53707eff;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover:not(.current) {
  background-color: #76a1a6;
}

.current {
  background-color: #111;
  font-weight: 900;

}

/* Each page has a "Skip to Main Content" link that only appears when it has focus (using the tab key) */

/* The link is positioned 40px above the top of its parent element (it is hidden by default).
When the link is in focus it is positioned 20px below the top of its parent (so it is visible only when in focus.) */
.skip a{
    position: absolute; /*?why need this?*/
    top: -40px;
    overflow: hidden;
  }

.skip a:focus{
    top: 20px;
  }

/* ================ GRID ================ */



.container{
  display: grid;
  grid-template-columns: 15% auto 15%;
  gap: 15px;
  max-width: 100%;
}

header{
    grid-column: 1/-1;
    grid-row: 1/2;
}

/* ====== Nation ====== */

.nation_text, .nation_img{
    grid-row: 2 / span 1;
}

.overview, .overview_img{
    grid-row: 3 / span 1;
}

.photo_gallery{
    grid-row-start: 4;
    grid-column: 1 / -1;
    text-align: center;
    
}

.photo_gallery h3{
    margin: 0.5em;
    font-weight: bolder;
}

.location1, .location1_img{
grid-row-start: 5;
}

.location2, .location2_img{
    grid-row-start: 6;
}

.location3, .location3_img{
    grid-row-start: 7;
}

.location4, .location4_img{
    grid-row-start: 8;
}

.location5, .location5_img{
    grid-row-start: 9;
}

.location1, .location2, .location3, .location4, .location5{
    grid-column-start: 2;
    grid-column-end: span 1;
}

.nation_img, .overview_img, .location1_img, .location2_img, .location3_img, .location4_img, .location5_img{   /* Cover all of the columns. */
    grid-column-start: 1; 
    grid-column-end: -1;
    /* Have a maximum height of 600px */
    height: 600px; 
    /* Hide any content that goes outside their grid cell. */
    overflow: hidden;
    object-fit: fill;
  }

.text_block{
/* Is centered horizontally and vertically with centered text. */
    background-color: rgba(255, 255, 255, .8);
    border: 5px solid black;
    margin: auto;
    overflow: auto;
    padding: 10px;
    text-align: center;
    grid-column: 2 / span 1;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.container h2{
    margin: 0.2em;
}

.nation_text{
    /* Is centered horizontally and vertically with centered text. */
        color: white;
        margin: auto;
        padding: 10px;
        text-align: center;
        font-style: italic;
        text-shadow: rgb(51, 51, 51) 1px 0 10px;
        font-size: 50px;
        grid-column: 2 / span 1;
}

.nation_text h2{
    color: white;
    opacity: 0.5;
}

.overview{
    height: 70%;
    overflow: auto;
}

.nation_img img{
    object-fit: contain;
}

.nation_img{
    margin-top: 15px;
}

.overview_img{
    margin-left: 15px;
    margin-right: 15px;
}

/* ********** pet ********** */


.pet-container{
    display: grid;
    grid-template-columns: 15% auto 15%;

    grid-template-rows: auto;
    gap: 15px;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}

.dog-name{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: center;
    justify-self: center;
    width: 100%;
}

.dog-name h2{
    margin: 20px 0 0 0;
    font-size: large;
    font-weight: bolder;
}

.item1 img{
    margin: 0;
}

.pet-container img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

    object-fit: contain;
    margin: 0;
    padding: 0;
}

.item1,
.item2, 
.item3, 
.item4, 
.item5{
    grid-column: 1 / -1;    
}


.pet-container .item1{
    grid-row: 2/3
}
.pet-container .item2{
    grid-row: 3/4
}
.photo_gallery{
    grid-row: 4/5;
    grid-column: 1/-1;
    text-align: center;
}
.pet-container .item3{
    grid-row: 5/6
}
.pet-container .item4{
    grid-row: 6/7
}
.pet-container .item5{
    grid-row: 7/8
}

.intro, .about{
    grid-column: 2/3;

    background-color: rgba(255, 255, 255, .8);
    border: 5px solid black;
    margin: auto;
    padding: 10px;
    height: 60%;
    overflow: auto;
    text-align: center;
}

.intro{
    grid-row: 2/3;
}

.about{
    grid-row: 3/4;
    height: auto;
    width: auto;
    
}

.about li{
    text-align: left;
    margin-left: 20px;
    list-style-type: disc;

}

.intro h3, .about h3, .overview h3, .text_block h2{
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

.intro p, .overview p, .about p, .text_block p{
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.overview a{
    color: blue;
    text-decoration: underline;
}






@media screen and (min-width: 800px) {
    .container{
        display: grid;
        grid-template-columns: 5% 15% auto 15% 5%;
    }
    
    .location1, .location3, .location5, .location2_img, .location4_img{
        /* Begin in the third column and span two columns */
        grid-column-start: 3;
        grid-column-end: span 2;
        width: 100%;
    }
    
      .location2, .location4, .location1_img, .location3_img, .location5_img{
        /* Begin in the second column and span two columns. */
        grid-column-start: 2;
        grid-column-end: span 2;
        width: 100%;
      }

      .text-block{
        /* max-height: 250px; */
        height: auto;
        overflow: auto;
      }

      .overview{
        grid-column: 3 / span 1;
        height: auto;
        overflow: auto;
      }

      .nation_text{
        grid-column: 3 / 4;
        text-align: center;
        font-size: 5em;
      }

    .intro, .about{
        height: auto;
    }

    .item1,
    .item2, 
    .item3, 
    .item4, 
    .item5{
        width: 80%;  
        justify-self: center;
    }

    



}
